<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Eat-Da-Burger</title>

</head>
<body>
  
 <div class="container">
<div class="jumbotron">	
		<form action="/create" method="POST">
			<input placeholder="Create Your Burger!" id="create" name="name"></input>
      <button class="btn btn-primary" type="submit">Build It!</button>
		</form>

	</div>
 

    <div class="row">
		<!--available burgers section -->
		<div class="col-sm-6">
			{{#each burgers}}
			{{#unless devoured}}
				<div class="row" id="{{id}}">
					<div>
	    				<p class="burger-id">{{id}}. </p>
	  				</div>
						<p> {{burger_name}}</p>
						<form action="/update/{{id}}?_method=PUT" method="POST">
							<button class="btn btn-primary">DEVOUR!</button>
						</form>
				</div>
       
				{{/unless}}
			{{/each}}
		</div>	

<div class="col-sm-6 right">
			{{#each burgers}}
			{{#if devoured}}
				<div class="row " id="{{id}}">
					<div>
	    				<p>{{id}}. </p>
	  				</div>
						<p>{{burger_name}}</p>
				</div>
				{{/if}}
			{{/each}}
		</div>	
	</div>	
</div>




  </div><!--container end-->
</body>
</html>
